/* section {
  position: relative;
  min-height: 200px;
}

h1, h2, h3 {
  margin: 10px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: disc;
}

arrow {
  color: #ff69b4;
} */